{% extends "base.jinja2" %}

{% block title %}Weekly Finances{% endblock %}

{% block content %}
  <div class="wrapper main-table">
    <div class="primary">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>cost</th>
          </tr>
        </thead>
        {{ expenditures }}
        {% for expenditure in expenditures %}
        <tbody>
        <tr>
          <td>{{ expenditure.date }}</td>
          <td>{{ expenditure.time }}</td>
          <td>{{ expenditure.description }}</td>
          <td>{{ expenditure.cost }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- /.primary -->
  </div>   <!-- /.wrapper .main-table -->
{% endblock %}
