<div class="wrapper main-table">
  <div class="primary">
    <div>
      <a href="/finances/">Finances</a>
      <a href="/activities/">Activities</a>
    </div>
  </div> <!-- /.primary -->
</div>   <!-- /.wrapper .main-table -->
