<div class="wrapper main-table">
  <div class="primary">
    <div>
      <a href="/finances/week/">This Week's Finances</a>
      <a href="/finances/date/">Today's Finances</a>
      <a href="/finances/recent/">Recent Finances</a>
    </div>
  </div> <!-- /.primary -->
</div>   <!-- /.wrapper .main-table -->
