<!doctype html>
<html ng-app="lyticsApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static',filename="css/main.css") }}">
        <link rel="stylesheet" href="{{ url_for('static',filename="bower_components/pikaday/css/pikaday.css") }}">
        <script src="{{ url_for('static', filename="bower_components/pikaday/pikaday.js") }}"></script>
        <script src="{{ url_for('static', filename="js/addons.js") }}"></script>
        <script src="{{ url_for('static', filename="bower_components/angular/angular.min.js") }}"></script>
        <script src="{{ url_for('static', filename="bower_components/angular-route/angular-route.min.js") }}"></script>
        <script src="{{ url_for('static', filename="js/app.js") }}"></script>
        <script src="{{ url_for('static', filename="js/controllers.js") }}"></script>
    </head>
    <body>

        {% raw %}
        <div ng-view></div>
        {% endraw %}

    </body>
</html>
